.sidebarButton {
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    justify-items: start;
}

.sidebarButton:hover {
    width: 100%;
    color: white;
    background-color: #00ABB2;
}

.current {
    background-color: #00ABB2 !important;
}

.icon {
    margin-right: 10px;
}
