.recommendationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D3D3D3;
    padding: 10px;
}

.recommendationItem:last-child {
    border-bottom: none;
}

.left {
}

.right {
}
.status {
    font-weight: 500;
}