.sidebar {
    height: 100%;
    background: #21293A;
    border-right: 1px solid #D3D3D3;
    width: 180px;
}

.navigation {
    margin-top: 10px;
    padding-top: 10px;
    display: grid;
    grid-row-gap: 10px;
}

.sidebarBottom {
    width: 100%;
    margin-bottom: 10px;
}