.dashboard {
    display: grid;
    grid-row-gap: 20px;
}

.searchBar{
    margin: 10px 0 0 0;
}

.loading{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingText{
    margin-left: 20px;
}
