.page {
    height: 100%;
    /*display: grid;*/
    /*grid-template-areas:*/
    /*"sidebar topbar"*/
    /*"sidebar content";*/
    /*grid-template-columns: 200px auto;*/
    /*grid-template-rows: 40px auto;*/
}

.pageContentWrapper {
    width: 100%;
    flex: 1 1 auto;
}

.pageContent {
    width: 100%;
    padding: 10px;
    background-color: #f9f9fa;
}

.colBox {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: auto;
}

.topbarContainer {
    flex: 0 1 auto;
}
